@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #0e0c15;
  color: white;
  font-family: var(--font-sora);
}

/* Body Scrollbar */
body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ff5a00;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* Body Scrollbar */

/* Category Scrollbar */
.carousel {
  --sb-track-color: #0e0c15;
  --sb-thumb-color: #ff5a00;
  --sb-size: 5px;
}

.carousel::-webkit-scrollbar {
  /* display: none; */
  width: var(--sb-size);
  height: var(--sb-size);
}

.carousel::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.carousel::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .carousel {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* Category Scrollbar */

/* Order Scrollbar */
.order-scroll {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ff5a00;
  --sb-size: 5px;
}

.order-scroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.order-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.order-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .order-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* order Scrollbar */

/* Loading Page */
.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #766df4 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #766df4 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes s8 {
  100% {
    transform: rotate(0.5turn);
  }
}
/* Loading Page */

/* Loading Button */
.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ff5a00 94%, #0000) top/8px 8px no-repeat, conic-gradient(#0000 30%, #ff5a00);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
/* Loading Button */
